@font-face {
    font-family: 'Karla';
    src: url(/public/fonts/Karla/Karla-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Karla-ExtraBold';
    src: url(/public/fonts/Karla/Karla-static/Karla-ExtraBold.ttf);
}
@font-face {
    font-family: 'karla-Medium';
    src: url(/public/fonts/Karla/Karla-static/Karla-Medium.ttf)
}
@font-face {
    font-family: 'Markazi Text';
    src: url(/public/fonts/Markazi-Text/MarkaziText-VariableFont_wght.ttf);
}

.restaurant-image{
    width: 75%;
    height: 75%;
    margin: 0rem;
    padding: 0px;
    border-radius: 16px;
    border-radius: 16px;

}
*:focus{
    outline: 3px solid  #F3CD17 !important;
}

.input-group-text{
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: auto;

}
span.input-group-text{
    height: 80%;
}

form{
    width: 60%;
    margin:3rem auto 8rem auto;
}

.error:invalid{
    outline: solid 3px #b8232d !important;
}
.error:target{
    outline: solid 3px #b8232d !important;
}
.error:hover{
    outline: solid 3px #b8232d !important;
}
.error:active{
    outline: solid 3px #b8232d !important;
}
.error:focus{
    outline: solid 3px #b8232d !important;
}

.error{
    background-color: #F8F9FA;
    outline: solid 3px #b8232d;
    border:#b8232d 3px solid;
}
.schedule-check-error{
    padding: 1rem 0 0 1rem;
    color:#b8232d;
    font-family: 'karla-Medium', sans-serif;
}

.guestInput .error:focus{
    outline: solid 3px #b8232d !important;
}

.date .error:focus{
    outline: solid 3px #b8232d !important;
}

.time .error:focus{
    outline: solid 3px #b8232d !important;
}

.error-message {
    color: #F3CD17;
    font-size: 1rem;
    font-family: 'karla-Medium', sans-serif;
    border-radius: 8px;
    padding-top: .5rem;
}

fieldset .scheduleCheck{
    background: none;
}
.scheduleCheckTitle{
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    text-align: center;
    margin: 1rem auto
}

.scheduleCheckInputs label{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

.scheduleCheckInputs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem;
    border: black 3px solid;
    border-radius: 50px;
    margin: auto;
}

.scheduleCheckInputs>*:not(:last-child){
    border-right:#D9D9D9 1px solid;
}

.schedule input[type="radio"]{
    display: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.guests {
    width: 70% ;
    padding-top:0rem;
    margin:auto;
}
.guests > label{
    height:30px;
}

.guestInput.form-control{
    width: 30%;
}
input.guestInput{
    border: none;
    font-family: 'Karla-ExtraBold', sans-serif;
    color:#495D57;
    width: 90%;
    height: 30px;
    border-radius: 8px;
}
input.guestInput:placeholder{
    color: #495D57;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
}
.date{
    display: grid;
    grid-row: 1;
    grid-column: 2;
    margin:auto;
    width: 100%;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left:0rem;
}

.date > label {
    height: 30px;
}

.input-group-append >.input-group-text{
    width: 80%;
}
.date input{
    border: none;
    height: 30px;
    font-family: 'Karla-ExtraBold', sans-serif;
    margin-right: 5rem !important;
    margin-left: 1rem !important;
}
.date input::placeholder{
    color: #495D57;
    font-size: 1rem;
    font-family: 'Karla-ExtraBold', sans-serif;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 8px;
}
.react-datepicker__current-month{
    color:#D9D9D9;
}
.react-datepicker__header{
    background-color: #495D57;
}
.react-datepicker__day-name{
    color: #D9D9D9
}
.react-datepicker__day{
    color: #495D57;
}
.react-datepicker__day--selected{
    background-color: #D9D9D9;
}
.react-datepicker__day--keyboard-selected{
    background-color: #D9D9D9;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 8px;
    color: #495D57;
}

.time{
    display: grid;
    grid-row: 1;
    grid-column: 3;
    justify-items: start;
    appearance: none;
    align-items: center;
    margin: auto;
    width: 60%;
    border-radius: 8px;
}
.time > label {
    height: 30px;
}
.btn-secondary{
    background:none;
    color:#495D57;
    border: none;
    font-family: 'Karla-ExtraBold', sans-serif;
    font-size: 1rem;
    padding:0rem;
}
.time > .btn-secondary{
    height: 30px;
    font-size: 1rem;
    color:#495D57;
    background-color: #F8F9FA;
}
.time> .btn-secondary.show{
    background-color: #F8F9FA;
    color: #495D57;
    padding: 0rem 1rem;
}
.time> .btn-secondary:hover{
    background-color: #D9D9D9;
    color: #495D57;
    font-family: 'Karla-ExtraBold', sans-serif;
}
.dropdown .time:hover{
    background-color: #D9D9D9;
    font-weight: bold;
}

.dropdown .time:active{
    background-color: #F8F9FA;
    color: #495D57;
}

.bookingTitle{
    display: grid;
    background-color: #495D57;
    color: #F8F9FA;
    grid-template-columns:60% 40%;
    grid-template-rows: auto;
    margin: 3rem auto 0rem auto;
    padding: 1rem 4rem 0rem 4rem;
    font-family: 'Markazi Text', serif;
    align-items: center;
    font-size: 40px;
    text-align: start;
    border: none
}

.silhouetteLogo{
    display: grid;
    grid-column: 2;
    justify-self: end;
    transform: rotate(-20deg);
    height: 100px;
    width: 100px;
}

.contactInfo{
    background-color: #495D57;
    margin: 0rem auto 0 auto;
    padding: 0rem .1rem;
    color: #F8F9FA;
    font-family: "Karla", sans-serif;
    border: none;
}

.name{
    justify-items: start;
    margin: 0 0 0 1rem;
    padding-top: 1rem;
    font-family: 'karla', sans-serif;
    font-size: 20px;
}

div.firstName{
    width: 60%;
}

div.lastName{
    width: 40%;
}
.col > label{
    margin-bottom: 1rem;
}

.name > .col{
    margin: 0 3rem;
}

.col > input{
background-color: #F8F9FA;
}
.phemail{
    align-items: end;
    font-family: 'karla', sans-serif;
    font-size: 20px;
    margin: 2rem 0 0 1rem;
    padding-right: 0rem;
}

.phemail > .col{
    margin: 0 3rem;
}

.occasion{
    justify-items: start;
    align-items: center;
    margin: 4rem 0rem 0rem 1rem;
    font-family: 'karla', sans-serif;
    font-size: 20px;
}

.occasion > .col{
    margin: 0 3rem;
}
.row >.occasion {
    font-family: 'Karla-ExtraBold', sans-serif;
    color:#495D57;
    text-align: center;
}

div.otherInfo{
    padding-bottom: .5rem;
    margin: 2rem 4rem 0rem 4rem;
}
.otherInfo {
    justify-items: start;
    align-items: end;
    font-family: 'karla', sans-serif;
    font-size: 20px;
}

.otherInfo > label{
    margin: 1rem 0 1rem 0;
}
textarea{
    margin-bottom:2rem;
}
.completeForm{
    display: flex;
    background-color: #495D57;
    color: #F8F9FA;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 4rem 2rem 4rem;
    font-family: 'karla', sans-serif;
    font-size: 20px;
}
.confirm{
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;

}
.error .form-check-input[type="checkbox"]{
    border-color:#b8232d;
}
.form-check-input[type="checkbox"]{
    border-radius: 50%;
}

.form-check-input:checked{
    background-color: #495D57;
    border: solid 2px #D9D9D9
}
.bookButton{
    display: flex;
    justify-content: flex-end;
}
